doctype html
html
  head
    meta(name='viewport'
        content='width=device-width,initial-scale=1.0,user-scalable=no')
    title To Do List
    link(rel='stylesheet' href='style.css')
    include firebase.pug
  body
    .appview
      header
        h2#username 
        // h1 To Do List
        button#remove 
          img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAMAAADwFEhBAAAAq1BMVEUAAADxxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA/xxA8KWpASAAAAOHRSTlMAAQMEBQYICgsVFxgdHh8iLjEyMzQ1Njc4OTo7RE5WX2NscXd8homVl6OqvsDFx8jKzM7Z3ODx+eRucqoAAAERSURBVFjD7czJVgJBEETRbG1UnADFWUQRHHAeif//Mhd6hKKzujIrtv22EeeKNDWFdS8v2pzQegSAK4p4BwDgOp8o/wgCmRPZyCKRiYREFlK+YakRTwAdnsCYJ3DnIl41AkOe+F6jidk2T+wEr4IlWpMZHnbjxEua2PgCAJzxBHDKE8AJTwDHPFFFymc3ARwFxKqBWPmo7IdOQgbK48BHyK326bsIuVFf+7/Ek4mQvnrDnoMQudeRnoOQYqoj53YijjgIFxIjHEicMCN1hBGpJ0xIijAgaSKJWIgEYiNqEStRg9iJKOIhIoiPUBEvoSB+ooLkEEtIHhEgucQCkk/8IwwhUkwAfG4J13pns5CmJr4fUM8jHNgJkTEAAAAASUVORK5CYII=')
          //log out button
        a(href='#' id='logout') 
          img(src='SignOut.png')
      main.container
        ul#task-list
         //li(data-status='0') Buy milk
         //li(data-status='1') Get newspaper
      footer
        form#task-form
          input(type='text' 
                placeholder='add task'
                id='task-input')
          button(type='submit' 
                class='add-button') Add
      script(src='main.js')
      //include templates
      include authforms.pug